<footer class="sidebar__information__footer">
    <a href="https://twitter.com/realDogbert" target="_blank"><i class="ico icon-twitter"></i></a>&nbsp;
    <a href="https://github.com/realDogbert" target="_blank"><i class="ico icon-github"></i></a>&nbsp;
    <a href="http://www.linkedin.com/in/fveitzen" target="_blank"><i class="ico icon-linkedin"></i></a>&nbsp;
</footer>